@import './../../../css/Layout.css';
@import './../logo/Logo.css';
@import './../homeLogo/homeLogo.css';
@import './../banner/banner.css';

.header {
	background: linear-gradient(90deg, #020024 0%, #dfb06e 35%, #e0e4e5 100%);
	transition: 0.3s ease all;
}

@media (min-width: 48em) {
	.header {
		/*padding: 0 3rem;*/
	}
}

.header__content {
	height: 210px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 100;
	max-width: 1200px;
	margin: 0 auto;
}

.header__content__nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	/*backdrop-filter: blur(5px);*/
	/*transform: translate(-200px, 100px);*/
	/*transition: 0.3s ease transform;*/
}

@media (min-width: 48em) {
	.header__content__nav {
		/*transform: none;*/
		flex-direction: row;
		background: transparent;
		/*width: auto;*/
		/*height: 100%;*/
		position: static;
	}
}

.header__content__nav ul {
	list-style: none;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
}

@media (min-width: 48em) {
	.header__content__nav ul {
		flex-direction: row;
		align-items: center;
		margin-bottom: 0;
		margin-right: calc(0.5rem + 16px);
	}
}

.header__content__nav ul li:not(:last-child) {
	margin-bottom: 32px;
}

@media (min-width: 48em) {
	.header__content__nav ul li:not(:last-child) {
		margin-bottom: 0;
		margin-right: 16px;
	}
}

.header__content__nav ul li a {
	font-size: 17px;
	text-decoration: none;
	color: inherit;
	padding: 0.75rem 1.25rem;
	border-radius: 12px;
	transition: 0.3s ease all;
}

.header__content__nav ul li a:hover {
	background: rgba(255, 255, 255, 0.1);
}

.header__content__nav ul li a:active {
	border-radius: calc(12px + 6px);
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(255, 255, 255, 0.1)),
		to(rgba(255, 255, 255, 0.2))
	);
}

.header__content__nav.isMenu {
	transform: translate(100%);
}

.header__content__toggle {
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 2rem;
	transition: 0.3s ease all;
	position: relative;
}

.header__content__toggle:hover {
	color: #a2a2f6;
}

@media (min-width: 48em) {
	.header__content__toggle {
		display: none;
	}
}
