.banner {
	background-size: contain;
	object-fit: cover;
	height: 500px;
	display: block;
	width:100%;
}
@media only screen and (max-width: 640px) and (--webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
	.banner img {
		image-rendering: url ('1920x500.jpg');
	}
}
