.image img {
  width: 400px;
  height: 300px;
  margin: 1em;
}

@media screen and (max-width: 768px) {
  .image {
    margin: 1em;
    display: flex;
    width: 200px;
    height: 100px;
  }
  .image img {
    width: 200px;
    height: 100px;
  }
}
