.socials {
  font-size: 3rem;
  display: flex;
}
@media screen and (min-width: 769px) and (max-width: 960px) {
  .socials {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .socials {
    font-size: 2rem;
    display: block;
  }
}

.icon {
  color: rgb(60, 59, 81);
  font-style: normal;
  /* letter-spacing: 20px; */
  font-family: 'fontello';
  opacity: 60%;
  transform-origin: 0 0;
  transform: scale(1);
  transition: background-color 0.4s ease, transform 0.4s ease, color 0.4s;
  will-change: background-color, transform, color;
}

.icon:hover {
  transform: scale(1.5);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
