.adress {
  color: whitesmoke;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
}

@media screen and (min-width: 1024px) {
  .adress {
    color: whitesmoke;
    padding: 0;
    position: fixed;
    bottom: 10rem;
    left: 5rem;
  }
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
  }
}
