.footer {
  margin-top: 1rem;
  padding: 2rem;
  background: linear-gradient(#deaf6e, #9e825d);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* p {
  text-align: center;
} */
