.image {
  margin: 1em;
  display: flex;
  width: 200px;
  height: 100px;
}
img {
  width: 200px;
  height: 100px;
}
@media screen and (min-width: 1024px) {
  .image {
    margin-bottom: 1em;
    display: flex;
    width: 400px;
    height: 300px;
    align-self: center;
  }
  img {
    width: 400px;
    height: 300px;
  }
}
