.socials {
  font-size: 2rem;
  padding: 0;
  display: flex;
  margin-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .socials {
    font-size: 3rem;
    letter-spacing: 40em;
    margin: 0;
    padding: 0;
  }
}

.icon {
  color: black;
  font-style: normal;

  font-family: 'fontello';
  opacity: 60%;
  transform-origin: 0 0;
  transform: scale(1);
  transition: background-color 0.4s ease, transform 0.4s ease, color 0.4s;
  will-change: background-color, transform, color;
}

@media screen and (min-width: 1024px) {
  .icon:hover {
    transform: scale(1.5);
  }
}
